<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="me.nereo.multi_image_selector">

    <application
        android:allowBackup="true"
        android:theme="@style/AppTheme"
        >
        <activity
            android:name="me.nereo.multi_image_selector.MultiImageSelectorActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/activity_picker_title"/>

        <!--<activity android:name=".GestureImageActivity" />-->
        <activity android:name="me.nereo.multi_image_selector.ShowImageActivity"
            android:configChanges="orientation|screenSize"
            >
            <intent-filter>
                <action android:name="android.intent.action.SEND_MULTIPLE" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

    </application>

</manifest>
